.navbar-color {
  background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
  background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-image {
height: 250px;
margin: auto;
border-radius: 35%;
border-style: inset;
}

.title-text {
background-color: darkgrey;
opacity: .8;
width: 75%;
margin: auto;
border-style: inset;
border-radius: 10px;
}

.title-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.title-text hr {
  border-top: 5px solid white;
  width: 50%;
  margin: auto;
}

.title-text p {
  color: white;
  font-size: 19px;
  padding: 1rem;
  text-align: center;
}